<!-- Main component for a primary marketing message or call to action -->

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="30000">

    <!-- Wrapper for slides -->
    <div class="jumbotron home-jumbotron shadow"
         ng-show="caption" id="no-border-round" ng-controller="HomeController" style="padding:10px 30px 10px 40px">
        <div class="carousel-inner"
             ng-intro-options="IntroOptions" ng-intro-method="CallMe"
             ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
             ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
             ng-intro-autostart="false">
            <div class="item active" id="home_item" >

                <!-- To be shown if not logged in -->
                <div class="col-md-12" ng-hide="loggedIn" style="padding:0px;">

                    <h1 style="font-size:22px;margin-bottom:10px;margin-top:10px;">Evezown</h1>
                    <p style="text-align: justify;font-size:15px;"><a href="#recco" style="text-decoration:none;">Evezown</a> is a unique commerce and community platform for women. If you are an entrepreneur, service professional or an organisation/association, Evezown offers a unique web presence combined with interaction and transaction features and a host of Ecom and digital promotional tools.</p>
                    <p style="text-align: justify;font-size:15px;"><a href="#evezplace" style="text-decoration:none;">EvezPlace</a> Products and Services market place has  five categories - Health, Wellness & Fitness, Food & Nutrition, Beauty & Fashion, Education, Care & Parenting, and Lifestyle. It provides you the ideal platform to sell or buy, to build and promote your brand within your community and digitally on the web.</p>
                    <p style="text-align: justify;font-size:15px;"><a href="#wopportunity" style="text-decoration:none;">Wopportunity</a> assists you to resource talent for your organisation. You can  find opportunities to earn and further your career too. Evezown membership</a> is currently open to all women.</p>

                    <p style="text-align: justify;font-size:15px;">Explore <a href="#home" style="text-decoration:none;">Evezown.com.</a> Make it your own place! For more visit <a href="#evezownfaq" style="text-decoration:none;"> EvezOwn FAQs</a></p>

                    <div class="request-invite">
                        <div class="col-md-4 zero-left-padding">
                            <!-- <p id="eye-buy"><i>Explore Evezown.com. Make it your own place!</i></p> -->
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-lg btn-primary pull-right" ng-click="CallMe();" style="margin-top:10px;">Take a Tour</button>
                        </div>
                        <div class="col-md-4" ng-hide="loggedIn">
                            <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button" style="margin-top:10px;">Create Signup Invite &raquo;</a>
                        </div>
                        <div class="col-md-4" ng-if="loggedIn">
                            <a class="btn btn-lg btn-primary pull-right" href="#community" role="button">Build
                                Community &raquo;</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12" ng-if="loggedIn">
                    <h1>Evezown</h1>
                    <p style="text-align:justify;">Good to see you, Go ahead create your own place, create your Evezsite, build your closed private community, use our single window to create stores, classifieds, promote your products and services through host of promotional features available on Evezown.</p>

                    <div class="request-invite">
                        <div class="col-md-8 zero-left-padding">
                            <p id="eye-buy"><a href="#profile/{{userId}}" style="text-decoration:none;"><i>Complete your profile now.</i></a></p>
                        </div>
                        <div class="col-md-4" ng-hide="loggedIn">
                            <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button">Create Signup Invite &raquo;</a>
                        </div>
                        <div class="col-md-4" ng-show="loggedIn" style="margin-top: 40px">
                            <a class="btn btn-lg btn-primary pull-right" href="#profile/{{userId}}" role="button">Complete
                                your profile</a>
                        </div>
                    </div>
                </div>
                <!-- To be shown if user is logged in -->

            </div>
            <!-- End Item -->
            <div class="item">
                <h1>Evezsite</h1>
                <p style="text-align: justify;">This is your website on Evezown and captures the essence of your business and personality. You can create your profile in-depth, build community to  connect with friends, colleagues, customers, partners, employees or other women you wish to connect with. You can promote yourself or your business digitally within your circles privately or publicly using features  such as events, blogs, recco, forums and groups.</p>

                <p style="text-align: justify;">For more visit <a href="" style="text-decoration:none;">Evezsite FAQs</a>.</p>

                <div class="request-invite">

                    <div class="col-md-4 col-md-offset-8" ng-hide="loggedIn">
                        <a  class="btn btn-lg btn-primary pull-right" href="#login" role="button">Login to Continue
                            &raquo;</a>
                    </div>

                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <h1><a href="#evezplace" style="text-decoration:none;">EvezPlace</a></h1>

                <p style="text-align: justify;">This is an Ecommerce marketplace for showcasing women centric products and services on our five key categories. If you are already in business or intend to start one, you can create your store and/or classifieds. Anyone can access and buy on this platform but only a woman can own a store. <a href="#evezplace" style="text-decoration:none;">EvezPlace</a> also enables you to promote your business in your private and public circles. Evezplace is open to all buyers</p>

                <!-- <p>For more visit EvezPlace FAQs. <a href="#evezownfaq" style="text-decoration:none;">Click here</a></p> -->

                <div class="request-invite">
                    <div class="col-md-4 col-md-offset-8" ng-hide="loggedIn">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button">Create Signup Invite &raquo;</a>
                    </div>
                </div>
            </div>
            <!-- End Item -->
            <div class="item">
                <h1><a href="#wopportunity" style="text-decoration:none;">W'Opportunity</a></h1>

                <p style="text-align: justify;">This is resourcing platform. If you are in business, you can use it for hiring talent. As a working professional you can use this platform to find an opportunity of your choice. Customized categorization helps you identify suitable opportunity.</p>

                <!-- <p>For more visit W’Opportunity FAQs. <a href="#evezownfaq" style="text-decoration:none;">Click here</a></p> -->

                <div class="request-invite">
                    <div class="col-md-4 col-md-offset-8" ng-hide="loggedIn">
                        <a class="btn btn-lg btn-primary pull-right" href="#requestinvite" role="button">Create Signup Invite &raquo;</a>
                    </div>
                </div>
            </div>
            <!-- End Item -->
        </div>
    </div>
    <!-- End Carousel Inner -->
    <div class="middle-navbar custom-middle-navbar" ng-controller="ApplicationCtrl">
        <div class="btn-group btn-group-justified zero-left-padding" role="group" aria-label="Justified button group">
            <ul class="nav nav-pills nav-justified">
                <li id="step1" data-target="#myCarousel" data-toggle="tab" data-slide-to="0" class="active">
                    <a ng-hide="loggedIn" data-target="#myCarousel" class="active btn btn-link nounderline"
                       role="button">
                        <h4>Evezown</h4>

                        <p>own your place</p>
                    </a>
                    <a ng-show="loggedIn" href="#profile/{{userId}}" data-target="#myCarousel"
                       class="active btn btn-link nounderline" role="button">
                        <h4>Evezsite</h4>

                        <p>Manage Evezsite</p>
                    </a>
                </li>
                <!-- <li id="step2" data-target="#myCarousel" data-toggle="tab" data-slide-to="1">
                    <a ng-hide="loggedIn" data-target="#myCarousel" class="btn btn-link nounderline"
                       role="button">
                        <h3 >Woice</h3>

                        <p>connect and share</p>
                    </a>
                    <a ng-show="loggedIn" href="#trending" data-target="#myCarousel"
                       class="active btn btn-link nounderline" role="button">
                        <h3>Woice</h3>

                        <p>connect and share</p>
                    </a>
                </li> -->
                <li id="step2" data-target="#myCarousel" data-slide-to="1">
                    <a href="#evezplace" data-target="#myCarousel" data-toggle="tab" class="btn btn-link" role="button">
                        <h4>EvezPlace</h4>

                        <p>products and services stores</p>
                    </a>
                </li>
                <li id="step3" data-target="#myCarousel" data-slide-to="2">
                    <a href="#wopportunity" data-target="#myCarousel" data-toggle="tab" class="btn btn-link"
                       role="button">
                        <h4>W'opportunity</h4>

                        <p>careers and listing</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!-- End Carousel -->
<div class="col-md-12" ng-include src='"partials/home/homeproductmenu.html"' ng-controller="HomeProductMenuController"></div>

<div class="container home-sale-section custom-home-sale-section">
    <div class="row">
        <div class="col-md-3">
            <div class="living_box">
                <a href>
                    <img ng-src="img/custom_images/hwf/evezown_health4.jpg" class="img-responsive" alt=""/>
                    <span class="sale-box">

                   <span class="sale-label">Health & Fitness</span>
                    </span>
                </a>
            </div>

        </div>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/custom_images/food&nutrition/evezown_food&nutrition1.JPG" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">Food&Nutrition</span>
                </span>
            </a>

            </div>

        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/custom_images/WomenShopping/evezown_women4.jpg" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">Lifestyle</span>
                </span>
            </a>

            </div>

        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img ng-src="img/product/sale_img4.jpg" class="img-responsive" alt=""/>
                <span class="sale-box">
                  <span class="sale-label">beauty&fashion</span>
                </span>
            </a>

                <!--<div class="living_desc desc1">-->
                <!--<h3><a href="#">aliquam volutp</a></h3>-->

                <!--<p>Lorem ipsum consectetuer adipiscing </p>-->

                <!--<p class="price pr_box">$150</p>-->

                <!--<div class="clearfix"></div>-->
                <!--</div>-->
            </div>

        </div>

    </div>
</div>
<div class="container trending-whatsnew-section">

    <div class="row trending-section">
        <h3 class="trending-whatsnew-title">What's new</h3>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_health1.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Yoga</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/beauty&fashion/evezown_buty1.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Education</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_travel3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Travel</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_childcare.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Child Care</span>
                </span>
            </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 whatsnew-section">
        <h3 class="trending-whatsnew-title">Trending this month</h3>

        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/WomenShopping/evezown_women3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Gifts</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/beauty&fashion/evezown_buty2.JPG" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Styling</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/custom_images/hwf/evezown_health3.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Sports</span>
                </span>
            </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="living_box"><a href>
                <img src="img/product/whatsnew_img4.jpg" class="img-responsive center-block" alt="">
                <span class="price-box">
                  <span class="price-label">Hair Care</span>
                </span>
            </a>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-include src='"partials/video_interview_partial.html"'>

</div><!--.container-->

